*, *::before, *::after {
  margin: 0;
  padding: 0;
}

html {
  font: 400 1rem 'Smooch Sans', sans-serif;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.link {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
}

.link:hover {
  cursor: pointer;
}

.error {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.nav {
  margin-top: 5rem;
  list-style: none;
}

.nav > li + li {
  margin-left: 1em;
}

.grid {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.story {
  margin: 1.25rem 0;
}
.story__title {
  text-decoration: none;
  color: #FF0800;
  font-size: 1.75rem;
  font-weight: 500;
}

.story__desc {
  color: #808080;
  font-size: 1.625rem;
}

.story__desc a {
  color: #000;
}